<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participante</title>
    <!-- Icone -->
    <link rel="icon" type="image/x-icon" href="https://static-00.iconduck.com/assets.00/bosch-icon-512x512-er2htt2a.png">

    <!-- Bootstrap e CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Fontes -->
    <link href="//db.onlinewebfonts.com/c/6e96217a04da19fc61e0c2724049e53e?family=Neology-Bold" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="hr"></div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid containerNav">
          <a class="navbar-brand" href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Bosch-logo.svg/2560px-Bosch-logo.svg.png" alt="Logo" width="150" height="33" class="d-inline-block align-text-top">
          </a>
          <div class="d-flex justify-content-end">
            <div class="dropdown"  style="z-index: 100;">
                <a href="" class="margin dropdown-toggle link" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>

                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="/Logout">Sair</a></li>
                </ul>
            </div>
          </div>
        </div>
      </nav>

      <br>

      <div style="margin-left: 60px; margin-right: 60px;">

        <h1 class="font">Página do participante</h1>
        <div class="alert alert-light d-flex flex-column align-items-start" role="alert">
          <div><b>Nome Completo:</b> <%= participante.Nome %></div>
          <div><b>Idade: </b> <%= participante.Idade %></div> 
          <div><b>Email: </b> <%= participante.Email %></div>
          <div><b>Telefone: </b> <%= participante.Telefone %></div>
          <div><b>Cursos: </b> <%= participante.Cursos %></div>
          <div><b>Idiomas: </b> <%= participante.Idiomas %></div>
        </div>
        <hr>
        
        

          <h6 class="font2">Processos</h6>

          <% processosParticipante.forEach((processo, index) => { %>
            <% console.log(processo) %>
          <div class="accordion" id="accordionExample">
            <div class="alert alert-light accordion-button collapsed" role="alert"
              data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>"
              aria-expanded="false" aria-controls="collapse<%= index %>">
              <%= processo['Processo.Nome'] %>
            </div>
            <div id="collapse<%= index %>" class="collapse" style="margin-bottom: 16px;">
              <div class="card card-body">
                <div><b>Até que etapa participou:</b> Entrevista</div>
                <div><b>Aprovado:</b> Sim</div>
                <hr>
                <ul>
                    <li><b>Prova: </b>97</li>
                    <li><b>Etapa 1</b>     
                      <ul>
                        <li><b>Desafio 1: </b> 73</li>
                        <li><b>Desafio 2: </b> 84</li>
                        <li><b>Observações</b>     
                          <ul>
                            <li>segundo item segundo subitem primeiro sub-subitem</li>
                            <li>segundo item segundo subitem segundo sub-subitem</li>
                            <li>segundo item segundo subitem terceiro sub-subitem</li>
                          </ul>
                        </li>          
                        <li><b>Desafio extra: </b>68</li>
                      </ul>
                    </li>               
                    <li><b>Etapa 2</b>     
                      <ul>
                        <li><b>Desafio 1: </b> 73</li>
                        <li><b>Desafio 2: </b> 84</li>
                        <li><b>Observações</b>     
                          <ul>
                            <li>segundo item segundo subitem primeiro sub-subitem</li>
                            <li>segundo item segundo subitem segundo sub-subitem</li>
                            <li>segundo item segundo subitem terceiro sub-subitem</li>
                          </ul>
                        </li>           
                        <li><b>Desafio extra: </b>68</li>
                      </ul>
                    </li>              
                    <li><b>Entrevista</b> 
                        <ul>
                            <li><b>Observações:</b> </li>
                        </ul>
                    </li>
                  </ul>
                  
                </div>
              </div>
              <% }) %>

            <hr>

          
              <div class="font2">Informações extras</div> 
              <ul>
                <li><b>Curriculo:</b> <a href="" class="link"><%= participante.Curriculo %></a> </li>
                <li><b>Vídeo:</b> <a href="" class="link"><%= participante.Video %></a> </li>
              </ul>
              
            </div>
            
            <br>
      

      

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
</body>
</html>