<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processos</title>
    <!-- Icone -->
    <link rel="icon" type="image/x-icon"
      href="https://static-00.iconduck.com/assets.00/bosch-icon-512x512-er2htt2a.png">
    <!-- Bootstrap e CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Fontes -->
    <link
      href="//db.onlinewebfonts.com/c/6e96217a04da19fc61e0c2724049e53e?family=Neology-Bold"
      rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="hr"></div>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid containerNav">
        <a class="navbar-brand" href="/">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Bosch-logo.svg/2560px-Bosch-logo.svg.png"
            alt="Logo" width="150" height="33" class="d-inline-block
            align-text-top">
        </a>
        <div class="d-flex justify-content-end">
          <a href class="margin link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397
                1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0
                1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5
                0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </a>
          <div class="dropdown" style="z-index: 100;">
            <a href class="margin dropdown-toggle link"
              data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-person-circle" viewBox="0 0
                  16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                      8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8
                      10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <br>

    <div style="margin-left: 60px; margin-right: 60px;">
      <div class="d-flex align-items-center justify-content-start">
        <h1 class="font">Processos</h1>

        <button class="btn btn-light margin" data-bs-toggle="modal"
          data-bs-target="#myModal"><b>+</b></button>
        <div class="ms-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-calendar2-heart"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3Zm2 .5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5H3Zm5 4.493c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
          </svg>
        </div>
      </div>

      <br>

      <% for (let i = processosComEtapas.length - 1; i > -1; i--) { %>
        <div class="accordion" id="accordionExample">
          <div class="alert alert-light accordion-button collapsed" role="alert"
            data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>-<%= processosComEtapas[i].IDProcesso %>"
            aria-expanded="false" aria-controls="collapse<%= i %>-<%= processosComEtapas[i].IDProcesso %>">
            <a href="/<%= processosComEtapas[i].IDProcesso %>" class="link"><b><%= processosComEtapas[i].Nome %></b></a>
          </div>
          <div id="collapse<%= i %>-<%= processosComEtapas[i].IDProcesso %>" class="collapse">
            <div class="card card-body barraY">
              <div id="primeiro-select">
                <label for="etapa<%= i %>-<%= processosComEtapas[i].IDProcesso %>">Etapa:</label>
                <input type="hidden" id="indiceEtapaSelecionada<%= i %>" value="0">
                <select id="etapa<%= i %>-<%= processosComEtapas[i].IDProcesso %>" data-idProcesso="<%= processosComEtapas[i].IDProcesso %>"
                  class="form-select select-etapa" onchange="exibirParticipantes(this)">
                  <% for (let j = 0; j < processosComEtapas[i].etapas.length; j++) { %>
                    <option value="etapa<%= j %>-<%= processosComEtapas[i].IDProcesso %>" data-index="<%= j %>">
                      <%= processosComEtapas[i].etapas[j].Nome %>
                    </option>
                  <% } %>
                </select>
              </div>
      
              <br>
      
              <ul class="list-group list-group-flush">
                <% processosComEtapas[i].participantes.forEach(participante => { %>
                  <% if (participante.IDProcesso === processosComEtapas[i].IDProcesso) { %>
                    <li class="list-group-item list-group-item-action participeites" data-status="<%= participante.Status %>" class="dadosParticipante">
                      <a href="/participante/<%= participante.IDParticipante %>" >
                        <%= participante.Nome %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            </div>
          </div>
      
          <hr>
      <% } %>
      

        
      </div>

    </div>

  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Cabeçalho do Modal -->
        <div class="modal-header">
          <h4 class="modal-title">Criar um novo processo</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <!-- Corpo do Modal -->
        <div class="modal-body">
            <form action="/novoProcesso" method="post"
              enctype="multipart/form-data">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome"
                  required>
              </div>
              <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" name="data"
                  required>
              </div>
              <div class="mb-3">
                <label for="etapas" class="form-label">Etapas</label>
                <input type="number" class="form-control" name="etapa"
                  id="etapaInput"
                  required>
              </div>

              <div class="mb-3">
                <div id="inputsContainer"></div>
              </div>

              <div class="mb-3">
                <label class="form-label" for="arquivo">Planilha Excel</label>
                <input class="form-control" type="file" name="arquivo">
              </div>

              <div class="d -flex flex-row align-items-center">
              <button type="submit" class="btn btn-primary">Criar</button>
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            </form>
          </div>

          <!-- <div id="etapa2" style="display: none;">
            <label for="segundo-select" style="margin-top: 10px;">Dia:</label>
            <select class="etapas form-select">
              <option value="opcao">26/06/2023</option>
              <option value="opcao">27/06/2023</option>
              <option value="opcao">28/06/2023</option>
            </select>
          </div>
  
          <div id="etapa3" style="display: none;">
            <label for="segundo-select" style="margin-top: 10px;">Dia:</label>
            <select class="etapas form-select">
              <option value="opcao">26/06/2024</option>
              <option value="opcao">27/06/2024</option>
              <option value="opcao">28/06/2024</option>
            </select>
          </div>
  
          <div id="etapa4" style="display: none;">
            <label for="segundo-select" style="margin-top: 10px;">Dia:</label>
            <select class="etapas form-select">
              <option value="opcao">26/06/2025</option>
              <option value="opcao">27/06/2025</option>
              <option value="opcao">28/06/2025</option>
            </select>
          </div>
  
          <div id="selectTurno" style="display: none;">
            <label for="select-extra" style="margin-top: 10px;">Turno:</label>
            <select id="select-extra" class="form-select">
              <option value="opcaoA">Ambos</option>
              <option value="opcaoB">Manhã</option>
              <option value="opcaoC">Tarde</option>
            </select>
          </div> -->

          <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
          <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
          <script src="js/script.js"></script>

          <script type="text/javascript">              
            $("#etapaInput").on("input", function() {
            var numEtapas = parseInt($(this).val());

            // Remove todos os campos de entrada anteriores
            $("#inputsContainer").empty();

            // Adiciona os campos de entrada com base no número de etapas
            for (let i = 1; i <= numEtapas; i++) {
              var input = $(`<input type="text" class="form-control" style="margin-top: 10px;, margin-bottom: 10px;" placeholder="Nome etapa ${i}" name="etapa${i}" required>`);
              $("#inputsContainer").append(input);
            }

            // Atualiza o número de etapas nos botões
            $("#incrementa").attr("max", numEtapas);
            $("#decrementa").attr("max", numEtapas);

            // Envia os valores das etapas para o back-end
            $.ajax({
              url: "/importarDados",
              method: "POST",
              data: {
                etapa: numEtapas
              },
              success: function(response) {
                // Manipula a resposta do back-end, se necessário
                console.log(response);
              },
              error: function(error) {
                // Manipula o erro, se necessário
                console.log(error);
              }
            });
          });


          </script>
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script>
            AOS.init();
          </script>

        </body>
      </html>